<h1>My ToDo list</h1>

<% @tasks.each do |task| %>
  <% if task.completed? %>
    <p><i class="fas fa-check-circle"></i> <%= link_to task.title, task_path(task.id) %> • <i class="fas fa-trash-alt"></i></p>
    <% else %>
    <p><i class="far fa-circle"></i>
      <%= link_to task.title, task_path(task.id) %> •
      <i class="fas fa-trash-alt"></i>
    </p>
  <% end %>
<% end %>

  <button type="button" class="btn btn-secondary">
    <%= link_to "Add a new Task", new_path%>
  </button>



